[Unit]
Description=trex (sequencer, followers, resolver, grid)
Documentation=file:///opt/trex/README.md
Wants=trex-sequencer.service trex-egress-archive.service trex-egress-sqlite.service trex-gateway.service trex-web.service

[Install]
WantedBy=multi-user.target
